
  <section class="questions">
    <section class="wrapper">

      <section class="details">
        <h3>Question 1 of 3</h3>
        <p><strong>Ruby:</strong> Hash and symbols</p>
      </section>

      <section class="question">
        <p><%= @question.content %></p>
      </section>
      <div class="countdown-wrapper" data-controller="countdown">
        <%= simple_form_for(@response) do |f| %>

          <div class="form-inputs">
            <%= f.collection_radio_buttons :answer_id, @question.answers, :id, :content %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, value: "Submit answer", class: "primary button", data: { countdown_target: "submit"} %>
          </div>

        <% end %>
        <div class="countdown-content" data-countdown-target="content">
        </div>
      </div>

    </section>

  </section>
</section>
