<h1>WAGON WHEEL</h1>

<p>Flashcards made better. Sign up today and win Bintangs!</p>

<%= link_to "Create an account", new_user_registration_path %>

<p>Already registered? <%= link_to "Login", new_user_session_path %></p>
<%= image_tag "wheel.png" %>

