<section class="reward" data-controller="prizewheel">

  <h2>Prize wheel</h2>
  <p>It's time to spin the wheel to collect your prize</p>

  <section class="prize" data-prizewheel-target="spinElement">
    <%= image_tag "pin-right.svg", class: "pin" %>
    <%= image_tag "wheel.svg", class: "wheel" %>
  </section>

  <section class="congratulations" data-prizewheel-target="resultElement">
    <p>Congratulations. You won a Bintang!</p>
  </section>

<button data-action="click->prizewheel#fire" class="secondary button">Spin the wheel!</button>

</section>
