


    <h3>Commence Game</h3>
    <p><strong><%= @game.topic %>:</strong> <%= @game.title %></p>
    <section class="actions">
      <%= link_to "Play game", question_url(@game.questions.find_by(order: 1)), class: "primary button" %>
    </section>
