// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.navbar{display: none !important}

body{font: 16px/32px "Poppins", sans-serif; letter-spacing: 0.5px; background: #f7f7f7; color: #1B1C1E}
img{max-width: 100%; height: auto}

button{border: none}

.correct{background: #29BF12 !important; color: #fff}
.correct:before{background: #29BF12 !important; color: #fff; border: 2px solid #fff !important}

h1{font:600 30px/38px "Poppins", sans-serif}
h2{font:600 22px/34px "Poppins", sans-serif}
h3{font:600 22px/34px "Poppins", sans-serif}
h4{font:500 18px/30px "Poppins", sans-serif}
h5{font:400 16px/28px "Poppins", sans-serif; min-height: 60px}
h6{font:500 14px/28px "Poppins", sans-serif; text-transform: uppercase}

h4:before{content:""; display: block; height: 30px; width: 4px; position: absolute; left: 0}

.ruby h4:before{background: #C90000}
.oop h4:before{background: #BB05FB}
.fewd h4:before{background: #0194FF}

.main{display: grid; grid-template-columns: 1.25fr 4fr; min-height: 100vh}

.menu{background: #1B1C1E}
.menu ul{position: sticky; list-style: none; margin: 0; padding: 0 30px; top: 160px}
.menu ul li a{color: #f7f7f7; text-decoration: none; padding: 10px 40px; display: block; opacity: 0.3; transition: 0.3s; background-position: 0 10px; background-size: 25px; line-height: 26px}
.menu ul li a:hover{opacity: 1; transition: 0.3s}

.logo-desktop{padding: 60px 25px; position: sticky; top: 0}
.logo-wheel{animation: rotation 20s infinite linear; max-width: 40px}
.logo-title{max-width: 200px; margin: 0 5px; width: 70%}

body.index .menu ul li a.home{opacity: 1}
body.leaderboard .menu ul li a.leaderboard{opacity: 1}
body.results .menu ul li a.results{opacity: 1}
body.statistics .menu ul li a.statistics{opacity: 1}
body.profile .menu ul li a.profile, body.edit .menu ul li a.profile{opacity: 1}

.menu ul li a.home{background-image: url("icon-menu-home.svg"); background-repeat: no-repeat}
.menu ul li a.leaderboard{background-image: url("icon-menu-leaderboard.svg"); background-repeat: no-repeat}
.menu ul li a.results{background-image: url("icon-menu-results.svg"); background-repeat: no-repeat}
.menu ul li a.statistics{background-image: url("icon-menu-statistics.svg"); background-repeat: no-repeat}
.menu ul li a.profile{background-image: url("icon-menu-profile.svg"); background-repeat: no-repeat}
.menu ul li a.logout{background-image: url("icon-menu-logout.svg"); background-repeat: no-repeat; position: fixed; bottom: 40px}

.questions .wrapper{padding: 0 30px}

.summary{background: #1B1C1E; color: #f7f7f7; padding: 50px; margin: 150px 0 50px; border-radius: 16px; position: relative}

.summary ul{list-style: none; padding: 0; margin: 20px 0 30px}
.summary ul li{display: flex; justify-content: space-between; border-bottom: 2px solid #000; padding: 15px 0}
.summary ul li:last-child{border-bottom: 0}

.summary ul li span{padding-left: 50px}

.summary ul li.current-standing{background: url("icon-summary-current-standing.svg"); background-repeat: no-repeat; background-position: 5px 15px}
.summary ul li.best-result{background: url("icon-summary-best-result.svg"); background-repeat: no-repeat; background-position: 5px 15px}
.summary ul li.latest-result{background: url("icon-summary-latest-result.svg"); background-repeat: no-repeat; background-position: 5px 15px}

.button{text-decoration: none; font:500 14px/60px "Poppins", sans-serif; height: 60px; padding: 0 40px; border-radius: 6px; display: inline-block}

a{text-decoration: none; color: #1B1C1E}

.primary{background: #29BF12; color: #fff; margin-right: 20px; transition: 0.3s}
.primary:hover{background: #39E11F; color: #fff; transition: 0.3s}

.secondary{background: #232325; color: #fff; transition: 0.5s}
.tertiary{border: 2px solid #232325; color: #232325; transition: 0.5s}
/* .secondary:hover{background: #fff; color: #232325; transition: 0.5s} */

.profile-head{position: absolute; width: 180px; height: 200px; right: 20px; top: -150px; background-size: 190px;
background-repeat: no-repeat}

.title{margin: 0 0 30px}

.content{position: relative}

.games{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 20px; margin-bottom: 30px; padding-bottom: 30px}
.games .icon{margin: 0 0 20px}
.games .game a{text-decoration: none; color: #1b1c1e; padding: 40px; display: block; background: #fff; border-radius: 12px; height: 350px; position: relative; box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05)}
.games .game span{font:500 14px/28px "Poppins", sans-serif; position: absolute; bottom: 40px; color: #29BF12}

.questions{background: #fff; min-height: 100vh}
.questions .details{padding: 60px 0 0}
.questions .question{font: 16px/32px "Poppins", sans-serif; margin: 20px 0 30px}
.questions .form-inputs{margin-bottom: 40px; display: grid; grid-template-columns: 1fr 1fr; gap: 20px}

.questions .form-inputs span:nth-of-type(1) input[type="radio"] + label:before{content: "A"}
.questions .form-inputs span:nth-of-type(2) input[type="radio"] + label:before{content: "B"}
.questions .form-inputs span:nth-of-type(3) input[type="radio"] + label:before{content: "C"}
.questions .form-inputs span:nth-of-type(4) input[type="radio"] + label:before{content: "D"}

.questions .form-inputs input[type="radio"]{appearance: none; display: none}
.questions .form-inputs input[type="radio"] + label {display: flex; align-items: center; background: #f7f7f7; padding: 25px; width: 100%; border-radius: 12px; cursor: pointer; min-height: 120px}
.questions .form-inputs input[type="radio"]:checked + label{font-weight: bold; color: #f7f7f7; background: #1B1C1E}

.questions .form-inputs input[type="radio"] + label:before{height: 60px; min-width: 60px; border: 2px solid #1B1C1E; text-align: center; margin-right: 20px; line-height: 56px; border-radius: 60px; font-weight: bold; font-size: 22px}
.questions .form-inputs input[type="radio"]:checked + label:before{border-color: #fff}

// .questions .form-actions{display: none}

.landing{text-align: center; height: 100vh; overflow: hidden}
.landing .wrapper{max-width: 350px; margin: 100px auto 0}
.landing .wheel{animation: rotation 12s infinite linear; position: fixed; left: 0; right: 0; margin: 125px auto 0}
.landing .pin{position: absolute; left: 0; right: 0; margin: 75px auto; z-index: 1}

.pages-template .content, .registrations-template .content, .games-template .content{padding: 60px 30px 30px}

.pages-template.profile .content{padding: 0}

// .questions-template .menu{display: none}
// .questions-template .main{grid-template-columns: 1fr}

.sessions-template.new, .registrations-template.new, .passwords-template.new{max-width: 450px; margin: 60px auto 0}
.sessions-template .form-inputs, .registrations-template .form-inputs, .passwords-template .form-inputs{margin: 40px 0 0}
.sessions-template label, .registrations-template label, .passwords-template label{font-size: 16px}
.sessions-template .form-control, .registrations-template .form-control, .passwords-template .form-control{background: #fff; border: 0; padding: 18px; border-radius: 8px}
.sessions-template .form-control:focus, .registrations-template .form-control:focus, .passwords-template .form-control:focus{box-shadow: none}
.sessions-template .btn, .registrations-template .btn, .passwords-template .btn{text-decoration: none; font: 500 14px/60px "Poppins", sans-serif; height: 60px; padding: 0 40px; border-radius: 6px; display: inline-block; background: #232325; color: #fff; transition: 0.5s; margin: 0 0 20px}
// .sessions-template a, .registrations-template a, .passwords-template a{display: block}

.form-text{position: absolute; display: none}

.pages-template.profile .profile-photo{background: #D1E9FF; display: flex; justify-content: right}
.pages-template.profile .profile-photo img{max-width: 300px}

.pages-template.profile .user-details{padding: 30px}
.pages-template.profile .actions{padding: 0 30px}


.pages-template .profile-head-default{max-width: 80px; background: #D1E9FF; border-radius: 100px; margin-right: 20px}
// .pages-template .profile-body-default{max-width: 120px}
.pages-template .user-details{display: flex; align-items: center}
.pages-template .user-details p{margin: -10px 0 0}

.actions{position: absolute; bottom: 30px}

.game-score{font-size: 130px; font-weight: 600; background: #1B1C1E; height: 300px; width: 300px; margin: 80px auto; text-align: center; line-height: 300px; border-radius: 300px; color: #f7f7f7}

.leadertable{margin: 60px 0}
.leadertable .player{position: relative; display: flex; justify-content: space-between; background: #fff; box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05); border-radius: 12px; padding: 15px 15px 0 0; margin-bottom: 20px; align-items: center; min-height: 100px}
.leadertable .player .player-avatar{max-width: 150px; margin: -35px 0 0}
.leadertable .player .player-total{height: 60px; width: 60px; text-align: center; line-height: 56px; font-size: 22px; font-weight: bold; border-radius: 60px; border: 2px solid #1B1C1E; margin: -15px 0 0; position: absolute; right: 15px}
.leadertable .player .player-details{margin: -10px 0 0; width: 90%}
.leadertable .player .player-points{margin: -10px 0 0}
.leadertable .player .player-name span{font-size: 12px; padding: 5px 10px; border-radius: 5px; border: 2px solid; top: -3px; position: relative; margin: 0 5px}

.leadertable .player.current{background: #1B1C1E; color: #fff}
.leadertable .player.current .player-total{border-color: #fff}

.leadertable .player:nth-of-type(1) .player-total{background: #FFB800; border-color: #FFB800; color: #fff}
.leadertable .player:nth-of-type(2) .player-total{background: #A3A3A3; border-color: #A3A3A3; color: #fff}
.leadertable .player:nth-of-type(3) .player-total{background: #C3A577; border-color: #C3A577; color: #fff}

.resultstable{margin: 60px 0}
.resultstable .player{position: relative; display: flex; justify-content: space-between; background: #fff; box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05); border-radius: 12px; padding: 15px; margin-bottom: 20px; align-items: center; min-height: 100px}
.resultstable .player .player-avatar{max-width: 150px}
.resultstable .player .player-total{height: 60px; width: 60px; text-align: center; line-height: 56px; font-size: 22px; font-weight: bold; border-radius: 60px; border: 2px solid #1B1C1E; margin: -15px 0 0; position: absolute; right: 15px}
.resultstable .player .player-details{margin: 0; width: 90%}
.resultstable .player .player-points{margin: -10px 0 0}
.resultstable .player .player-name{display: flex; justify-content: space-between; align-items: center}
.resultstable .player .player-name span{font-size: 12px; padding: 5px 10px; border-radius: 5px; border: 2px solid; top: -3px; position: relative; margin: 0 5px}
.resultstable .player .player-score h3{margin: 0 20px 0 0; font-weight: bold}
.resultstable .player .player-name h4{margin: 0}
.resultstable .player .status{display: flex; margin: 0 10px 0 0}

.pages-template .resultstable .player .profile-head-default{width: 70px}


.livetable{margin: 60px 0}
.livetable .player{position: relative; display: flex; justify-content: space-between; background: #fff; box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05); border-radius: 12px; padding: 15px; margin-bottom: 20px; align-items: center; min-height: 100px}
.livetable .player .player-avatar{max-width: 150px}
.livetable .player .player-total{height: 60px; width: 60px; text-align: center; line-height: 56px; font-size: 22px; font-weight: bold; border-radius: 60px; border: 2px solid #1B1C1E; margin: -15px 0 0; position: absolute; right: 15px}
.livetable .player .player-details{margin: 0; width: 90%}
.livetable .player .player-points{margin: -10px 0 0}
.livetable .player .player-name{display: flex; justify-content: space-between; align-items: center}
.livetable .player .player-name span{font-size: 12px; padding: 5px 10px; border-radius: 5px; border: 2px solid; top: -3px; position: relative; margin: 0 5px}
.livetable .player .player-score h3{margin: 0 20px 0 0; font-weight: bold}
.livetable .player .player-name h4{margin: 0}
.livetable .player .status{display: flex; margin: 0 10px 0 0}

.games-template .livetable .player .profile-head-default{width: 70px}


.users{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; text-align: center; max-width: 700px}
.users .user{max-width: 120px; margin: 20px 0; opacity: 0.3; transition: 0.5s ease; position: relative}
.users .user img{background: #D1E9FF; border-radius: 120px}
.users .user .tick{position: absolute; right: 0; bottom: 30px; border: 2px solid #f7f7f7; opacity: 0; transition: 0.5s ease}
.users .user.connected{opacity: 1; transition: 0.5s ease}
// .users .user.connected img{background: #29BF12}
.users .user.connected .tick{opacity: 1; transition: 0.5s ease}

.users.connecting{position: relative}
.users.connecting .user{max-width: 37px; opacity: 1; position: absolute}
.users.connecting .user:nth-of-type(1){left: 0}
.users.connecting .user:nth-of-type(2){left: 20px}
.users.connecting .user:nth-of-type(3){left: 40px}
.users.connecting .user:nth-of-type(4){left: 60px}
.users.connecting .user img{background: #D1E9FF; border-radius: 37px; border: 2px solid #fff}


.pages-template.prizewheel .content{overflow: hidden; position: relative; min-height: 100vh}
.prize{position: absolute; margin: auto; right: -350px; height: 90vh; top: 0; bottom: 0}
.wheel{max-height: 100%}
.pin{max-width: 80px; margin: 0 -40px 0 0; position: relative; z-index: 1}

.spin .wheel{animation: spin 6s cubic-bezier(0.25, 0, 0, 1); transform: rotate(1540deg)}

.prizewheel .content button{position: absolute; bottom: 30px; left: 30px}

.congratulations p{font-size: 40px; position: absolute; top: 0; bottom: 0; margin: auto; height: 90px; max-width: 400px; line-height: 50px; opacity: 0}
.reveal p{animation: fade 1s linear 6s normal forwards}

.countdown-content{text-align: center; padding: 40px 0}
.countdown-content .count{font-size: 50px; font-weight: bold; margin: 0 0 10px; display: block}



.live{position: absolute; top: 30px; right: 30px; color: #29BF12}
.live .pulse{position: absolute; margin: 8px 0 0 -20px}
.live .pulse .default{width: 10px; height: 10px; position: relative; background: #29BF12; border: 1px solid #f7f7f7; border-radius: 50%; z-index: 1; display: block}
.live .pulse .transition{width: 20px; height: 20px; position: absolute; top: -5px; left: -5px; display: block; background: #29BF12; border-radius: 50%; opacity: 0; animation: pulse 2400ms ease-out infinite}

@keyframes pulse{
    0%{transform:scale(0.1); -ms-transform:scale(0.1); -webkit-transform:scale(0.1); opacity:0}
    50%{opacity:0.8}
    100%{transform:scale(1.2);-ms-transform:scale(1.2);-webkit-transform:scale(1.2);opacity:0}
}

@keyframes fade{
  from{opacity: 0}to{opacity: 1}
}

@keyframes rotation{
  from{transform:rotate(0)}to{transform:rotate(360deg)}
}

@keyframes spin{
  from{transform:rotate(0)}to{transform:rotate(1540deg)}
}

@media(max-width: 1299px){
  .games{grid-template-columns: 1fr 1fr 1fr}
}

@media(max-width: 1199px){
  .congratulations{display: none}
  .wheel{max-height: auto; height: 100%}
  .pin{max-width: 50px; margin: auto -20px; position: absolute; left: 0; right: 0; top: 0; bottom: 0}

  .prizewheel .content button{position: relative; float: left; clear: both; bottom: 0; left: 0}
  .prize{height: auto; left: 0; width: 100%; right: 0; transform: rotate(90deg); position: relative; max-width: 400px; margin: 40px 0}

}

@media(max-width: 999px){
  .games{grid-template-columns: 1fr 1fr}
  .games .game a{padding: 30px}

  .questions .form-inputs{grid-template-columns: 1fr}
  .questions .form-inputs input[type="radio"] + label:before{flex: none}

  // .prize{height: 350px}
}

@media(max-width: 799px){
  // .wrapper:not(:first-of-type){padding: 0 0 0 30px}
  .games{display: flex; overflow-x: scroll; -webkit-overflow-scrolling: touch}
  .game{display: flex; flex-direction: column; flex: 0 0 250px}
  .game:last-of-type{margin: 0 30px 0 0}
  .summary{padding: 80px 30px 30px}
  .summary a{padding: 0 22px; margin-right: 15px}
  .profile-head{left: 0; right: 0; margin: 0 auto}
}

@media(max-width: 699px){

  .questions .wrapper{padding: 0 20px}
  .summary{padding: 80px 20px 20px; margin: 200px 0 50px}

  .logo-desktop{display: none}

  .main{display: block; padding-bottom: 100px}
  .menu{position: fixed; bottom: 0; width: 100%; z-index: 1; background: #f7f7f7}
  .menu ul{display: flex; justify-content: space-around; padding: 0 10px}
  .menu ul li{display: inline}
  .menu ul li a{color: #1B1C1E; background-position: center 20px; background-size: 25px; padding: 50px 0 20px; font-size: 10px}

  .menu ul li a.home{background-image: url("icon-menu-home-dark.svg"); background-repeat: no-repeat}
  .menu ul li a.leaderboard{background-image: url("icon-menu-leaderboard-dark.svg"); background-repeat: no-repeat}
  .menu ul li a.results{background-image: url("icon-menu-results-dark.svg"); background-repeat: no-repeat}
  .menu ul li a.statistics{background-image: url("icon-menu-statistics-dark.svg"); background-repeat: no-repeat}
  .menu ul li a.profile{background-image: url("icon-menu-profile-dark.svg"); background-repeat: no-repeat}
  .menu ul li:last-child{display: none}

  .questions-template .menu, .pages-template.prizewheel .menu{display: none}

  .questions .question{margin: 20px 0}
  .questions .form-inputs input[type="radio"] + label{padding: 10px; min-height: 100px}

  .landing .wheel{margin: 225px auto 0; animation: rotation 8s infinite linear}
  .landing .pin{margin: 200px auto 0; max-width: 50px}

  .pages-template .content, .registrations-template .content, .games-template .content{padding: 20px}

  .actions{position: relative; bottom: 0}

  .leadertable .player .player-avatar{max-width: 120px}


  .congratulations p{position: relative; text-align: center; font-size: 24px; line-height: 40px}
  .congratulations{display: block}
  .prize{margin: 40px auto; max-width: 300px}
  .prizewheel .content button{position: absolute; bottom: 0; left: 0; right: 0; margin: 40px auto}

}

@media(max-height: 499px){
  .menu ul li a.logout{position: relative; bottom: 0}
}
